In [33]:
import pandas as pd

In [34]:
products_df = pd.read_csv("products.csv", sep=",")
products_df.head()

,Unnamed: 0,id,product_name,category,product_description,price,location
0,0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",£5.00,"Wokingham, Berkshire"
1,1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,£20.00,"Inverness, Highland"
2,2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,£20.00,"Skegness, Lincolnshire"
3,3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,£115.00,"Radstock, Somerset"
4,4,16dbc860-696e-4cda-93f6-4dd4926573fb,Modern Shannon Sofa for sale at low cost | in ...,"Home & Garden / Dining, Living Room Furniture ...",New Design Shannon Corner sofa 5 Seater Avail...,NaN,NaN

In [37]:
# assigns operation to dataframe variable
products_df = products_df.dropna() # deletes columns where at least 1 item is missing

In [38]:
# cheks that NaN columns have been dropped
products_df.head()

,Unnamed: 0,id,product_name,category,product_description,price,location
0,0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",£5.00,"Wokingham, Berkshire"
1,1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,£20.00,"Inverness, Highland"
2,2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,£20.00,"Skegness, Lincolnshire"
3,3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,£115.00,"Radstock, Somerset"
12,5,5707be4f-49d9-4feb-b2c8-aa0868405c65,"Spotlights | in Newent, Gloucestershire | Gumtree",Home & Garden / Other Household Goods,New in box not needed Spotlights . Posted by s...,£9.00,"Newent, Gloucestershire"

In [25]:
products_df.dtypes #finds the object type for each column

Unnamed: 0             object
id                     object
product_name           object
category               object
product_description    object
price                  object
location               object
dtype: object

In [26]:
products_df.info() # finds the object types and number of nulls

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11318 entries, 0 to 11317
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           11195 non-null  object
 1   id                   8001 non-null   object
 2   product_name         8001 non-null   object
 3   category             7156 non-null   object
 4   product_description  7156 non-null   object
 5   price                6311 non-null   object
 6   location             6311 non-null   object
dtypes: object(7)
memory usage: 619.1+ KB

In [27]:
# price column needs to be converted as a float
# if we try to sum objects, we don't get the expected result

# products_df['price'].sum() # throws error

In [28]:
products_df['price'] = products_df['price'].str.strip('£')
products_df = products_df.replace(',','', regex=True) # commas need to go to convert price string to float
products_df['price'] = products_df['price'].astype('float64')

In [31]:
products_df.head()

,Unnamed: 0,id,product_name,category,product_description,price,location
0,0,243809c0-9cfc-4486-ad12-3b7a16605ba9,Mirror wall art | in Wokingham Berkshire | Gum...,Home & Garden / Dining Living Room Furniture /...,Mirror wall art. Posted by Nisha in Dining Liv...,5.0,Wokingham Berkshire
1,1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,Stainless Steel Food Steamer | in Inverness Hi...,Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,20.0,Inverness Highland
2,2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,Sun loungers | in Skegness Lincolnshire | Gumtree,Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,20.0,Skegness Lincolnshire
3,3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,Home & Garden / Dining Living Room Furniture /...,Great reclaimed army ammunition box used as co...,115.0,Radstock Somerset
4,4,16dbc860-696e-4cda-93f6-4dd4926573fb,Modern Shannon Sofa for sale at low cost | in ...,Home & Garden / Dining Living Room Furniture /...,New Design Shannon Corner sofa 5 Seater Avail...,NaN,NaN

In [32]:
# checks that the prices are now floats
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11318 entries, 0 to 11317
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           11195 non-null  object
 1   id                   8001 non-null   object
 2   product_name         8001 non-null   object
 3   category             7156 non-null   object
 4   product_description  7156 non-null   object
 5   price                6311 non-null   float64
 6   location             6311 non-null   object
dtypes: float64(1), object(6)
memory usage: 619.1+ KB