In [22]:
import pandas as pd

In [88]:
products_df = pd.read_csv("products.csv", sep=",")
products_df.head(600)

,Unnamed: 0,id,product_name,category,product_description,price,location
0,0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",£5.00,"Wokingham, Berkshire"
1,1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,£20.00,"Inverness, Highland"
2,2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,£20.00,"Skegness, Lincolnshire"
3,3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,£115.00,"Radstock, Somerset"
4,4,16dbc860-696e-4cda-93f6-4dd4926573fb,Modern Shannon Sofa for sale at low cost | in ...,"Home & Garden / Dining, Living Room Furniture ...",New Design Shannon Corner sofa 5 Seater Avail...,NaN,NaN
...,...,...,...,...,...,...,...
595,293,a4d26de4-e697-4efd-81c2-2db2adcd84a5,DIVAN BEDS ALL MADE TO ORDER ON SALE NOW!!!FRE...,Home & Garden / Beds & Bedroom Furniture / Oth...,CASH ON DELIVERYFREE DELIVERYALL MADE TO ORDER...,£60.00,"Selby, North Yorkshire"
596,294,917f4bea-d031-4899-83dd-a10a19da3da9,PC speakers. Very good condition. Brand new bo...,Home & Garden / Other Household Goods,PC speakers. Large subwoofer speaker and surro...,£40.00,"Coventry, West Midlands"
597,295,cac08349-9c5c-4372-b426-ba40ed29b2ff,30 square metres of paving slabs delivered in ...,Home & Garden / Garden & Patio / Garden Buildi...,Our 600mm x 450mm slabs are used here to creat...,NaN,NaN
598,.,NaN,NaN,NaN,NaN,NaN,NaN
599,Any quantity available anywhere in Northern Ir...,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
# assigns operation to dataframe variable
products_df = products_df.dropna() # deletes columns where at least 1 item is missing

In [25]:
# cheks that NaN columns have been dropped
products_df.head(60)

,Unnamed: 0,id,product_name,category,product_description,price,location
0,0,243809c0-9cfc-4486-ad12-3b7a16605ba9,"Mirror wall art | in Wokingham, Berkshire | Gu...","Home & Garden / Dining, Living Room Furniture ...","Mirror wall art. Posted by Nisha in Dining, Li...",£5.00,"Wokingham, Berkshire"
1,1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,"Stainless Steel Food Steamer | in Inverness, H...",Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,£20.00,"Inverness, Highland"
2,2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,"Sun loungers | in Skegness, Lincolnshire | Gum...",Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,£20.00,"Skegness, Lincolnshire"
3,3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,"Home & Garden / Dining, Living Room Furniture ...",Great reclaimed army ammunition box used as co...,£115.00,"Radstock, Somerset"
12,5,5707be4f-49d9-4feb-b2c8-aa0868405c65,"Spotlights | in Newent, Gloucestershire | Gumtree",Home & Garden / Other Household Goods,New in box not needed Spotlights . Posted by s...,£9.00,"Newent, Gloucestershire"
13,6,d2244a7b-aef4-4495-aff7-0c55bf512d6e,💥💥White Wardrobe💥💥Brand new Wardrobe For sale ...,Home & Garden / Beds & Bedroom Furniture / War...,🌈🌈Call Dustin 0208-0049437\r\n🌈🌈Same Day Or a...,£419.00,"Huddersfield, West Yorkshire"
14,7,485edc04-7bbc-430a-9430-f05a77f5a917,"Letter cage | in Newent, Gloucestershire | Gum...",Home & Garden / Other Household Goods,Selling for family member brand new too big fo...,£10.00,"Newent, Gloucestershire"
15,8,7e538445-c75e-4802-8dc5-a9083a802278,"Double Pine Bed Frame | in Lytham St Annes, La...",Home & Garden / Beds & Bedroom Furniture / Dou...,Double Pine bed frame good condition. Reasonab...,£50.00,"Lytham St Annes, Lancashire"
16,9,1a64843d-72f3-4141-946f-fa9b978fe755,Solid pine dining table and chairs | in West K...,"Home & Garden / Dining, Living Room Furniture ...",Distressed solid pine table and 4 chairs In ex...,£200.00,"West Kilbride, North Ayrshire"
17,10,ac514199-1ceb-4703-902d-4d8c55bea7e4,Vortex plush velvet corner or 3+2 sofa avialbl...,"Home & Garden / Dining, Living Room Furniture ...",corner Dimension:Width is 212cm x 164cmHeight ...,£449.00,"Wigan, Manchester"
18,11,f36672f9-fbe5-40ac-8f5d-015c660c3304,"Storage unit | in Midway, Derbyshire | Gumtree",Home & Garden / Other Household Goods,Storage unit book shelf please see the photos ...,£15.00,"Midway, Derbyshire"
19,12,5f5f57d7-778f-4336-bb10-b43863418c8c,"King Size Pine Bedframe | in Hove, East Sussex...",Home & Garden / Beds & Bedroom Furniture / Oth...,"Pine king sized Bedframe, originally from Ikea...",£100.00,"Hove, East Sussex"
20,13,c2c8949f-3cde-4651-a234-4a4a1b2a9ad4,Decorative black iron water pump and sump pump...,Home & Garden / Garden & Patio / Outdoor Setti...,Working water pump and sump pump. Has been use...,£100.00,"Loughborough, Leicestershire"
21,14,8292aa4e-7f1b-4655-bf0e-f1f2c9e3ffaf,"Marquee & Gazebo Hire | in Downpatrick, County...",Home & Garden / Garden & Patio / Outdoor Setti...,Ranges of sizes available Long and short term ...,£10.00,"Downpatrick, County Down"
22,15,a7500af0-25a1-447d-a67a-c575a82f0657,"SOLD. Ceiling light | in Melrose, Scottish Bor...","Home & Garden / Dining, Living Room Furniture ...",Pewter ceiling light Ceiling light. Posted by ...,£40.00,"Melrose, Scottish Borders"
23,16,53061acb-d253-41c2-8626-ea92e1f26c21,QUALITY***CALACATTA***MARBLE***CARRARA***WHITE...,Home & Garden / Kitchenware & Accessories / Ki...,1) Top Quality Granite & Quartz kitchen Workt...,£330.00,"Ealing Broadway, London"
26,18,a68bf37d-e00f-4a33-b39f-540dd1102d28,SOLD: Super King bed with storage | in Quedgel...,Home & Garden / Beds & Bedroom Furniture / Oth...,Super King bed in excellent condition. No mark...,£100.00,"Quedgeley, Gloucestershire"
29,20,b81d8d08-7da7-40f9-9558-f29a67eee189,9.1FT SWIMMING POOL BESTWAY 56411 300cm x 201c...,Home & Garden / Garden & Patio / Outdoor Setti...,Bestway Steel Pro 9'10&quot; x 6'7&quot; x 26&...,£160.00,"Stevenage, Hertfordshire"
30,21,5d562c81-c415-4b48-ab68-a5399d3a7420,Royal Worcester Poppies 20cm Diameter Flan Pie...,Home & Garden / Kitchenware & Accessories / Ta...,Royal Worcester Poppies 20cm Diameter Flan Pie...,£7.00,"Redruth, Cornwall"
31,22,0b406233-3358-4559-a859-49552e203703,Fragranced oil burner set & heart-shaped slate...,Home & Garden / Other Household Goods,A pair of heart-themed items which would make ...,£3.00,"Grange, Edinburgh"

In [26]:
products_df.dtypes #finds the object type for each column

Unnamed: 0             object
id                     object
product_name           object
category               object
product_description    object
price                  object
location               object
dtype: object

In [27]:
products_df.info() # finds the object types and number of nulls

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6311 entries, 0 to 11317
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6311 non-null   object
 1   id                   6311 non-null   object
 2   product_name         6311 non-null   object
 3   category             6311 non-null   object
 4   product_description  6311 non-null   object
 5   price                6311 non-null   object
 6   location             6311 non-null   object
dtypes: object(7)
memory usage: 394.4+ KB

In [28]:
# price column needs to be converted as a float
# if we try to sum objects, we don't get the expected result

# products_df['price'].sum() # throws error

In [29]:
products_df['price'] = products_df['price'].str.strip('£')
products_df = products_df.replace(',','', regex=True) # commas need to go to convert price string to float
products_df['price'] = products_df['price'].astype('float64')

In [30]:
products_df.head()

,Unnamed: 0,id,product_name,category,product_description,price,location
0,0,243809c0-9cfc-4486-ad12-3b7a16605ba9,Mirror wall art | in Wokingham Berkshire | Gum...,Home & Garden / Dining Living Room Furniture /...,Mirror wall art. Posted by Nisha in Dining Liv...,5.0,Wokingham Berkshire
1,1,1c58d3f9-8b93-47ea-9415-204fcc2a22e6,Stainless Steel Food Steamer | in Inverness Hi...,Home & Garden / Other Household Goods,Morphy Richard’s (model no 48755)Stainless ste...,20.0,Inverness Highland
2,2,860673f1-57f6-47ba-8d2f-13f9e05b8f9a,Sun loungers | in Skegness Lincolnshire | Gumtree,Home & Garden / Garden & Patio / Outdoor Setti...,I have 2 of these - collection only as I don’t...,20.0,Skegness Lincolnshire
3,3,59948726-29be-4b35-ade5-bb2fd7331856,Coffee side table from Ammunition ammo box hai...,Home & Garden / Dining Living Room Furniture /...,Great reclaimed army ammunition box used as co...,115.0,Radstock Somerset
12,5,5707be4f-49d9-4feb-b2c8-aa0868405c65,Spotlights | in Newent Gloucestershire | Gumtree,Home & Garden / Other Household Goods,New in box not needed Spotlights . Posted by s...,9.0,Newent Gloucestershire

In [31]:
# checks that the prices are now floats
products_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6311 entries, 0 to 11317
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           6311 non-null   object
 1   id                   6311 non-null   object
 2   product_name         6311 non-null   object
 3   category             6311 non-null   object
 4   product_description  6311 non-null   object
 5   price                6311 non-null   float64
 6   location             6311 non-null   object
dtypes: float64(1), object(6)
memory usage: 394.4+ KB